PFS mails.json
{
  "name": "PFS mails",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "2260a68e-84da-4e92-afad-883cbf3bd248",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_2907776260652874021"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "480d6744-1845-47b8-ab05-33f36a67c356",
      "name": "Get many messages",
      "webhookId": "3a4f6f5a-5781-44ed-9602-236b9b229beb",
      "credentials": {
        "gmailOAuth2": {
          "id": "EYWq3cZcaBqyAHxf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "327a69e4-525f-4021-af62-16f440c63fab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83cd3b54-4ea9-4055-964f-c710862fdb56",
              "name": "Email",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "539cad1d-bcd7-45e2-979b-71bbdcc88f31",
              "name": "Betreff",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "276ffddd-2b56-4db4-a938-1115579007d7",
              "name": "Email Inhalt",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        80
      ],
      "id": "fb88501b-e492-480c-a08e-ae45a94074d5",
      "name": "Set Felder"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "35ec666e-2cc7-415c-8d6d-ba62e9a37c15",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {
          "batchSize": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        96
      ],
      "id": "b95ab9fe-2982-475d-b57d-101f05c2b38e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "vQtk1aQZTGFg7hZN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pfs",
          "mode": "list",
          "cachedResultName": "pfs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1040,
        -96
      ],
      "id": "c8397a93-c763-447d-b542-2dec25f47332",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "a9M38OPvfXbngYIP",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1216,
        96
      ],
      "id": "f72f2e3b-0879-458f-9b37-34c378d29eba",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1216,
        256
      ],
      "id": "0b1dc86a-7e27-4373-a135-ce6f74a5bfad",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Felder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Felder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14adb06a-eb25-4b32-bf04-b7e98cc13549",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eabd531f0e8db83c62761e501dc7d3b4db666b504f7bfda362d876be8364b9c0"
  },
  "id": "Pp6k7aUZZntb2EZi",
  "tags": []
}